.myorders {
  padding: 20px;
}

.myorders h2 {
  margin-bottom: 20px;
}

.order-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: #fafafa;
}

.order-card p {
  margin: 5px 0;
}

.order-status {
  font-weight: bold;
}

.order-status.pending {
  color: red;
}

.order-status.delivery {
  color: orange;
}

.order-status.delivered {
  color: green;
}
.order-card button {
  margin-top: 10px;
  padding: 6px 10px;
  background-color: #ff4d4f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order-card button:hover {
  background-color: #d9363e;
}